.Container_landing  {
    display : flex;
    flex-direction: column;
    justify-content: center;
    width : 100vw;
    height : 100vh;
}

.Set_landing { 
    flex-direction: row-reverse;
    display : flex;
    width : 100vw;
}

.Title_landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    border : 1px solid red;
    margin-top : 30px;
}

.Title1_landing { 
    color : #f05052;
    font-size : 15;
    font-family: 'Jalnan';
}

.Title2_landing {
    color : #f05052;
    font-size : 40px;
    font-family: 'Jalnan';
}

.Title3_landing {
    color : white;
    font-size : 25px;
    font-family: 'Jalnan';
}

.Start_landing {
    font-size : 25px;
    font-family: 'Jalnan';
    color : white;
    background-color: green;
    
}

.Toggle_landing {
    font-size : 25px;
    font-family: 'Jalnan';
    color : white;
    background-color:  #131641;
    border : 0px;
}

.ToggleTitle_landing {
    
    display: flex;
    margin-top : 150px;
    opacity: 0.8;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    position: absolute;
    
    width : 150px;
   
}

.Toggle2_landing{
    width : 150px;
    background-color:  rgb(92, 91, 91);
    border-bottom : 1px solid white;
    font-size : 25px;
    padding : 5px;
    font-family: 'Jalnan';
    color : white;
    border : 0px;
}